[2018-10-26 10:51] senthilrch opened #2 "garbage collection worker to clean-up hanging jobs"
if the imagepuller pod is unable to pull the image, it keeps retrying. The job that created the imagepuller pod has an activeDeadlineSeconds = 3600. so users can query the imagepuller pod's events to understand the reason for failure.

we need a garbage collection worker in image manager to cleanup jobs that have reached activeDeadlineSeconds.

[2018-10-26 10:57] senthilrch opened #3 "different image cache status and reason during refresh"
when the fledged controller is pulling images during a refresh cycle, currently the status, reason and message fields of image cache are updated to same value as during image cache creation.

we need different image cache status, reason and message during refresh so users know the exact current action being performed.

[2018-10-26 11:02] senthilrch opened #4 "implement cross build"
The current Makefile generates only amd64 binaries of fledged controller. We will need to implement cross build capability in the Makefile to produce binaries for other architectures.

Refer below url for e.g.:-
https://github.com/docker/cli/blob/master/scripts/build/cross

[2018-10-26 11:06] senthilrch opened #5 "swagger api documentation"
We will need to implement scripts to generate swagger spec and html api reference documents based on swagger spec. Refer following urls as e.g.:-

- https://github.com/kubernetes/kubernetes/blob/master/hack/update-generated-swagger-docs.sh
- https://github.com/kubernetes/kubernetes/blob/master/hack/update-swagger-spec.sh
- https://github.com/kubernetes/kubernetes/blob/master/hack/update-api-refere

[2018-10-26 11:10] senthilrch opened #6 "implement deletion of images in image cache"
when image cache resource is deleted (or) when image cache resource is modified by removing images, images already cached before in the worker nodes have to be deleted. fledged controller needs to take action to fire new jobs that would delete the image. this functionality needs to be implemented.

[2018-10-29 13:13] senthilrch commented on #3
https://github.com/senthilrch/kube-fledged/commit/3bd924a6a1870bee6a2a022360de09525c6abc61

[2018-10-29 13:13] #3 closed

[2018-10-29 18:19] senthilrch commented on #2
Implemented alternate solution. For jobs still active after image-pull-deadline-duration, image manager retrieves the events for the failed/running imagepuller pods and updates it to status of image cache. User can get the details of failure reason directly from image cache status "failures" section. Before updating status update work item to the work queue, image manager deletes all jobs (success

[2018-10-29 18:19] #2 closed

[2018-11-02 07:48] senthilrch opened #7 "hanging image cache status and jobs when fledged is oom-killed"
When fledged container runs on a node with limited memory, it might get killed by Linux OOM-Killer. when this happens kubelet will recreate a new fledged container automatically. However the image cache status would get stuck in processing and also leaves image puller jobs and pods hanging.

When fledged starts-up, it needs to clean-up any active/completed imagepuller jobs/pods + also reset the st

[2018-11-02 07:58] senthilrch opened #8 "pulling images into tainted nodes by adding toleration"
if there are tainted nodes in the cluster, then the image puller pod will never get scheduled into that node. consequently image will never get pulled into such nodes. since these are jobs for pulling image and not actual application pods, fledged should add matching toleration when firing image puller pods into such nodes.

when the sync handler in the controller writes the image pull request int

[2018-11-02 08:02] senthilrch opened #9 "generate events for every successful or failed sync and refresh action"
fledged controller needs to raise events for every successful or failed sync and refresh action, with appropriate human-readable message. these events could then be picked by other event processing tools for visibility and security.

[2018-11-03 14:15] dreamer-89 commented on #9
@senthilrch : Please assign this issue to me.

[2018-11-05 05:11] senthilrch commented on #9
@dreamer-89 : thanks for you contribution. Please go ahead and work on this issue and raise a PR. All the best! I'll remove the help wanted label.

Note:- Event needs to be raised only after a successful status update to image cache.

[2018-11-06 20:31] #7 closed

[2018-11-07 08:07] #8 closed

[2018-11-08 06:06] dreamer-89 commented on #9
@senthilrch : Had a day off owing to Diwali in India. I am working on it now.

[2018-11-08 11:18] sundeepk1 commented on #5
Hi Senthil,

Please assign this issue

[2018-11-08 11:39] dreamer-89 commented on #9
Hi @senthilrch, i am getting below error when I try "make image" on terminal

Please advise, how can i get rid of this error and proceed with docker set up on my local.

[2018-11-08 11:46] senthilrch commented on #6
we will address only the deletion of imagecache resource in this issue. deleting images during imagecache update will be taken up in a separate issue.

[2018-11-08 14:23] senthilrch commented on #9
@dreamer-89 : you need to use "make fledged-image" instead of make image. I updated the master branch with changes to Makefile and README. Please refer to updated README for complete instructions.

https://github.com/senthilrch/kube-fledged/blob/master/README.md

[2018-11-08 17:21] dreamer-89 opened #10 "Update README: Include steps to create local image for fledge client"
Default value for the docker client is:
FLEDGED_DOCKER_CLIENT_IMAGE_NAME=senthilrch/fledged-docker-client:latest

We need to create/update this variable as per developer

[2018-11-09 09:04] senthilrch commented on #6
We will implement imagecache deletion as follows:-

- Leverage Finalizers mechanism to have control over when the actual API resource get's deleted.
- As a pre-requisite, when the imagecache resource is created, fledged will add finalizer "fledged" to the resource.
- When user wants to delete the imagecache resource, it means the user's intention is to both delete the API resource + purge the cach

[2018-11-09 10:39] senthilrch opened #11 "improve the speed of processing "imagepullqueue" in image manager"
The image manager routine in fledged controller is a single go-routing that processes image pull requests pushed into "imagepullqueue". While this has advantages of lower memory footprint and requires no lock mechanisms in accessing the imagepullstatus map, there are situations where an imagepull might take a long time (either the size of the image is huge, or network is unreliable and slow, or pr

[2018-11-11 01:40] kannanv06 commented on #6
@senthilrch , Kindly assign this issue to me

[2018-11-11 18:34] senthilrch commented on #11
Following commits added to improve the speed of processing "imagepullqueue" in image manager:-

- https://github.com/senthilrch/kube-fledged/commit/ded3c4dc8b4fecab48c1a68a1c32f8ff8ec11219
- https://github.com/senthilrch/kube-fledged/commit/0910c8f3ac03e587ea9f6901258b9d7c9b21abba

[2018-11-11 18:34] #11 closed

[2018-11-12 07:58] senthilrch commented on #10
@dreamer-89 : This image is not required now. This will be required only during deletion of images when the imagecache API resource is deleted; this feature is under development. Once developed, README will be updated. Till then use the existing README to build and deploy.

[2018-11-12 07:58] #10 closed

[2018-11-12 09:30] senthilrch commented on #9
@dreamer-89 : How is it going? If you need any help feel free to post your queries here. Am happy to help!

[2018-11-15 09:18] senthilrch opened #12 "Increase CI code coverage to 5%"
No go tests exists today. Goal of this issue is to increase the code coverage from 0% to 5%. Packages to be considered for achieving the target %
- kube-fledged/cmd
- kube-fledged/cmd/app
- kube-fledged/pkg/images

[2018-11-18 05:03] senthilrch commented on #5
@sundeepk1 : How is it going? we will need this for upcoming v0.1.3 release.

[2018-11-18 05:04] senthilrch commented on #9
@dreamer-89 : How is it going? we will need this for upcoming v0.1.3 release.

[2018-11-18 05:04] senthilrch commented on #6
@kannanvr : How is it going?

[2018-11-18 15:10] senthilrch commented on #12
PR merged to master:-
https://github.com/senthilrch/kube-fledged/pull/13

[2018-11-18 15:10] #12 closed

[2018-11-20 15:21] #9 closed

[2018-11-20 15:23] senthilrch commented on #5
@sundeepk1 : kindly update the progress. can we get this done for v0.1.3 targetted for 30-Nov?

[2018-11-20 15:24] senthilrch commented on #6
@kannanvr : kindly update the progress if any

[2018-11-22 16:02] #6 closed

[2018-11-23 09:47] senthilrch opened #17 "Image deletion during image cache update"
When user performs image cache update action, if user removes images from cache spec, then fledged controller needs to detect this and subsequently delete the images from respective nodes.

[2018-11-23 09:49] senthilrch opened #18 "Increase unit test coverage of package "kube-fledged/cmd/app" to > 75%"
- Current UT code coverage is 15%.
- Need to increase it to > 75%

[2018-11-23 10:02] senthilrch opened #19 "Validate content of image cache spec"
In existing implementation, fledged controller doesn't performs any validation on the contents of the image cache spec. When erroneous content is present in the image cache spec, this leads to unnecessary and undesirable actions from fledged and image manager, leading to handing jobs and hanging entries in imageworkstatus map of image manager. Following validations need to be implemented:-

- vali

[2018-11-23 10:05] senthilrch opened #20 "Add gofmt, golint, govet checks to CI"
Add gofmt, golint, govet checks to CI.
- Add necessary verify scripts to "hack" directory.
- Add these new verify scripts to .travis.yml.

[2018-11-23 10:22] senthilrch opened #21 "Add new flag --image-pull-policy"
Current implementation uses imagePullPolicy = IfNotPresent when pulling images. This is hardcoded in pkg/images/helpers.go. We will need to allow the user to specify the image pull policy via a new flag `--image-pull-policy`. Possible values are Always and IfNotPresent. Default value: IfNotPresent

[2018-11-23 10:29] senthilrch opened #22 "Test kube-fledged in GKE and fix bugs"
kube-fledged is not yet tested in any cloud-native kubernetes services. It needs to be tested in Google Kubernetes Engine (GKE) using Google Container Registry (GCR). If any bugs are identified, these need to be fixed.

[2018-11-24 12:29] sundeepk1 commented on #22
Hi Senthil, i will take it up as I am trying to install kube-fledged on top of GKE

[2018-11-25 16:38] #19 closed

[2018-11-28 05:26] senthilrch opened #26 "New flag "--image-pull-policy" documentation"
## New flag "--image-pull-policy" to be added in README.md in section "Configuration flags" section.

### Configuration Flags

`--image-pull-deadline-duration:` Maximum duration allowed for pulling an image. After this duration, image pull is considered to have failed. default "5m"

`--image-cache-refresh-frequency:` The image cache is refreshed periodically to ensure the cache is up to date. Sett

[2018-11-28 06:24] senthilrch opened #27 ""startTime" and "completionTime" in ImageCache Status"
## Description:
We will need to have "startTime" and "completionTime" in ImageCache Status. This is the general practice in Kubernetes API objects that have a definite start and end time. When fledged controller syncs an image cache, it first updates the Status.Status field to "Processing". During this update, the "startTime" field should be updated to the current UTC time. Similarly during sync a

[2018-11-28 13:54] sundeepk1 commented on #26
Hi Senthil,

I've updated the readme and cmd/fledged.go and created PR requests for them.

[2018-11-30 11:11] senthilrch commented on #17
PR #30

[2018-11-30 11:11] #17 closed

[2018-12-02 16:02] #27 closed

[2018-12-02 17:17] senthilrch opened #35 "Increase unit test coverage of package "kube-fledged/pkg/images" to > 75%"
Increase unit test coverage of package "kube-fledged/pkg/images" to > 75%

[2018-12-04 18:07] #35 closed

[2018-12-04 18:07] #18 closed

[2018-12-04 18:09] senthilrch commented on #26
@sundeepk1 please update PR #28 with the changes requested.

[2018-12-08 17:12] senthilrch opened #38 "Default image pull policy for images with no tags"
At present, the default image pull policy for images with ":latest" tag is PullAlways, whereas for images with no tag, it is IfNotPresent.

However since images with no tag actually implies the ":latest" tag, PullAlways should be the default policy for such images. So following code changes required:-

**File:** pkg/images/image_helpers.go
**Function:** newImagePullJob
[code]

[2018-12-09 10:57] #20 closed

[2018-12-09 15:06] senthilrch opened #40 "Imagecache status reason should have the imagecache action"
Imagecache status reason should have the imagecache action.

**Actual status field:-**
[code]

**Expected status field:-**
[code]

[2018-12-09 16:06] #40 closed

[2018-12-11 14:11] senthilrch commented on #38
PR #43

[2018-12-11 14:11] #38 closed

[2018-12-13 06:58] senthilrch commented on #5
@kannanvr is working on this issue. Has raised PR #42.

[2018-12-13 07:06] bhuvanessr opened #44 "Imagecache spec not restored back when update validation fails"
Scenario:-

User has already created an imagecache. images are cached successfully. now user make an update to imagecache. by mistake user has performed an update that is not allowed. in this case, validation of the updated spec fails in the fledged controller and status/reason/message are updated appropriately. however the spec is not restored back to the working spec.

suggest to add an annotati

[2018-12-13 07:08] senthilrch commented on #44
@bhuvanessr please raise PR for this issue.

[2018-12-20 08:05] senthilrch commented on #26
PR #28 closed. Instead new PR #46 raised by @sundeepk1 .
PR #46 merged. Hence closing this issue.

[2018-12-20 08:05] #26 closed

[2018-12-21 12:28] kalpanathanneeru opened #47 "Implementation of gosec checks"
Go security checks need to add.

[2018-12-25 01:43] senthilrch commented on #47
@kalpanathanneeru please raise PR

[2018-12-27 12:08] senthilrch commented on #22
No update/response from @sundeepk1. Issue is stale for more than 30 days, so closing this issue.

[2018-12-27 12:08] #22 closed

[2018-12-27 12:12] senthilrch commented on #47
Not required now.

[2018-12-27 12:12] #47 closed

[2018-12-27 12:12] senthilrch commented on #4
Not required now.

[2018-12-27 12:12] #4 closed

[2018-12-27 12:15] senthilrch commented on #5
No update from @kannanvr on PR #42, so closing this issue for now.

[2018-12-27 12:15] #5 closed

[2020-02-24 13:34] edshelton opened #52 "Allow kube-fledged to be deployed in any namespace"
IMO hardcoding the namespace which the controller lives in is an antipattern:

https://github.com/senthilrch/kube-fledged/search?q=fledgedNameSpace&unscoped_q=fledgedNameSpace

Can this be changed so that `kube-fledged` can be deployed to any namespace?

[code]

[2020-02-25 05:31] senthilrch commented on #52
I'll have this changed to support deployment to any namespace. Will implement for v0.6.0

[2020-03-11 10:37] #52 closed

[2020-04-08 01:14] nandhyala opened #54 "Question: before setup kube-fledged use case"
@senthilrch @sundeepk1 ,

kube-fledged looks very good for pulling large images from diffrent zone for EKS autoscaling during peak hours. i have below question before going to setup kube-fledged in our eks clusters on our use-case.

1)We have image around 4 GB size  OF image and pulling from different region from  artifcatory taking more then 10 Mins and it is added autoscaling delays on cluster,I

[2020-04-09 04:54] senthilrch commented on #54
@nandhyala ,

1) Of course kube-fledged is built to solve the issue you have mentioned. kube-fledged is capable of pulling and caching images of any size. you can specify on to which worker nodes the image should be cached; you can choose to cache the image in all the worker nodes of the EKS cluster.

2) when a new worker node is added to the cluster, if you have enabled auto-refresh, the image wi

[2020-04-09 05:37] nandhyala commented on #54
Thanks @senthilrch  for looking on my request, sorry I am still not clear on 2).That means whenever  new server launch it will go and pull images from artifcatory registry then how can we avoid delay issue in my case.Because my artifcatory registry is in different location cluster is different region.

[2020-04-09 05:48] nandhyala commented on #54
correct me if i am wrong from (image registry) means from kube-fledged  cache image registry ? if yes how many images i can cache on image(size) registry  ,Just my curiosity where image cache  will storage in eks cluster ?

[2020-04-09 06:54] senthilrch commented on #54
when a new server is launched, the image in the cache will be used to start the pod, provided the imagePullPolicy is set to IfNotPresent in the PodSpec. it will not be pulled from image registry

there is no limit to the number of images that can be cached. the images will be cached in the worker nodes of the eks cluster.

[2020-04-09 08:02] nandhyala commented on #54
Thanks @senthilrch for details,I have successfully implemented  in our cluster using helm chart as per document.

I have noticed below thing while pull image on new EC2 servers:
1) How we know new ec2 server is pulling docker image from image in the cache bcz the image path is same in application deployment & Image cache file ?
2) I noticed kube-fledged pod is pushing images into all servers ,How

[2020-04-09 10:27] senthilrch commented on #54
- after creating the imagecache, check the status field of the imagecache. ensure it shows a successful status. (please share the complete output of the imagecache object in json format)
- also verify if the image you mentioned in the imagecache object has been successfully pulled into the worker node (kubectl get node <nodename> -o json)
- make sure the application deployment is scaled only after

[2020-04-10 05:01] nandhyala commented on #54
Sure @senthilrch ,I will do once again and provide you log details,Here just i am trying to understand whenever new EC2 server comes up **first time** the docker will pull image from artifactory repo as per pod deployment file but in our case   pod deployment image will pull **first time** from artifactory repo **OR**  image cache from kube-fledged ? if its pull from image cache from local  it wil

[2020-04-10 09:52] senthilrch commented on #54
of course, the image in the cache will be used, it will not be pulled from image registry. that's the whole purpose of kube-fledged.

[2020-04-11 05:22] nandhyala commented on #54
Thanks @senthilrch confirmation its really helps us on our huge  size of images(4GB) pulling image from cache instead of artifactory repo on new launched ec2 machine,Is there anyway i can trigger only image pull from image cache whenever new servers is launched ? instead of doing entries refresh cache on EKS clusters because we have more than 1000+ servers dont want refresh again and again on old

[2020-04-12 19:56] nandhyala commented on #54
@senthilrch

Today i have tested one more time and compared pulling image from image cache & artifactory repo.
Sorry to say i see not much performance with image cache pulling (3.5 GB ) image from image cache.

1) I have scheduled refresh cache frequency =10s on kubefledged to refresh cache every 10 sec on new launched nodes.

2) whenever launched new EC2 machine refresh cache picked new node star

[2020-04-13 08:26] senthilrch commented on #54
Yes, when a new worker node is added, for the first time, the image will be pulled from artifactory repo only. however during subsequent refresh cycles, the image will not be pulled from artifactory.

Are you expecting the image from existing EC2 node be copied to the new EC2 node instead of pulling it from artifactory? kube-fledged doesn't supports this.

[2020-04-13 08:32] nandhyala commented on #54
Thanks @senthilrch ,Yes our challenge is whenever first time servers launch it pulls image from artifactory and taking time so i want pull somewhere from local at first time it self  instead of artifactory for new servers.

[2020-04-13 11:22] senthilrch commented on #54
@nandhyala kube-fledged was never intended to solve the challenge you've mentioned. I request you to go through the list of use cases in README. for your problem, you can explore setting up mirror registries that are closer to your EC2 nodes (or) creating custom EC2 images with the container images baked in it. Thanks.

[2020-05-01 12:40] senthilrch opened #55 "Error updating ImageCache(imagecache1) status to 'Aborted'"
I0501 12:23:22.302552       1 controller.go:125] Setting up event handlers
I0501 12:23:22.305612       1 fledged.go:74] Starting pre-flight checks
I0501 12:23:22.325033       1 controller.go:161] No dangling or stuck jobs found...
E0501 12:23:22.337601       1 controller.go:201] Error updating ImageCache(imagecache1) status to 'Aborted': ImageCache.fledged.k8s.io "imagecache1" is invalid: status.s

[2020-05-02 10:19] senthilrch opened #56 "chmod: cannot access '../code-generator/generate-groups.sh': No such file or directory"
[code]

[2020-05-02 10:21] #54 closed

[2020-05-22 11:04] senthilrch commented on #56
PR #57

[2020-05-22 11:04] #56 closed

[2020-05-22 11:05] senthilrch commented on #55
PR #57

[2020-05-22 11:05] #55 closed

[2020-06-02 14:26] senthilrch opened #59 "Images with latest tag not published for arm & arm64"
### Images with latest tag not published for linux/arm and linux/arm64 platforms

This issue is applicable for all four images:
- kubefledged-controller
- kubefledged-webhook-server
- kubefledged-cri-client
- kubefledged-operator

![image](https://user-images.githubusercontent.com/24295410/83531372-87833380-a50a-11ea-9bd8-8be0587f77f7.png)

[2020-06-02 14:29] senthilrch opened #60 "Multi-arch image for cri-client"
The multi-arch image for kubefledged-cri-client needs to be updated for arm and arm64 architectures. Currently the linux/amd64 binaries of docker client and crictl are being packaged into the arm and arm64 images as well; this is incorrect.

Dockerfile needs to be updated using ${TARGET_PLATFORM} variable:-
https://github.com/senthilrch/kube-fledged/blob/master/build/Dockerfile.cri_client

[2020-06-14 14:09] senthilrch opened #61 "Coverage error during Travis build restart"
When a Travic CI build is restarted, the step where the unit test coverage results are exported to Coveralls fails:-

[code]

[2020-10-10 13:05] senthilrch commented on #61
Issue same as:-
https://github.com/ckeditor/ckeditor5/issues/7244

[2020-10-11 07:36] #61 closed

[2020-10-11 07:37] #60 closed

[2020-10-11 07:37] #59 closed

[2020-12-23 17:08] k8s-junkie opened #63 "Getting x509: certificate signed by unknown authority Error"
I deployed kube-fledged on my k8s cluster created using kubespray and tried to cache nginx image onto all of my worker nodes and I am getting the below error
**kubectl create -f deploy/kubefledged-imagecache.yaml**
Error from server (InternalError): error when creating "deploy/kubefledged-imagecache.yaml": Internal error occurred: failed calling webhook "validate-image-cache.kubefledged.k8s.io": P

[2020-12-27 07:53] husam17987 commented on #63
@k8s-junkie i have the same issue after just install it.

[2020-12-27 13:58] husam17987 commented on #63
The caBundle not passed to the yaml file because of the bash script, do it manually and it will work with you

[2020-12-29 22:29] k8s-junkie commented on #63
@husam17987 Sorry did not follow this. Can you please elaborate on what is that I should be doing manually for this to work ?

[2021-01-04 22:59] k8s-junkie commented on #63
@husam17987 Finally figured it out.
Looks like I had to remove the previous install and do a fresh install for the caBundle to take into effect.

[2021-01-04 23:08] k8s-junkie commented on #63
Documenting the detailed steps that I followed to make it work. This is a workaround untll the bash script issue is fixed.
1. If you have already installed kubefledged and face the above issue, then remove the install
    **make remove-operator-and-kubefledged**
2. Run the below command to get the CA_BUNDLE value
    **kubectl config view --raw --flatten -o json | jq -r '.clusters[]' | grep certif

[2021-02-11 22:03] k8s-junkie opened #64 "I am seeing Image pull failed and the message is "PodInitializing" under failure for every node."
I am trying to cache images that are 10+ GB on few nodes on my cluster. Any idea what this PodInitializing failure means?
[centos@infra-vm ~]$ kubectl get imagecaches imagecache1 -n kube-fledged -o json
{
    "apiVersion": "kubefledged.k8s.io/v1alpha1",
    "kind": "ImageCache",
    "metadata": {
        "creationTimestamp": "2021-02-11T21:36:39Z",
        "generation": 3,
        "name": "imageca

[2021-02-12 13:05] senthilrch commented on #64
@k8s-junkie : by default, the max. duration for pulling an image is 5 mins. For larger images increase the value:-

--image-pull-deadline-duration: Maximum duration allowed for pulling an image. After this duration, image pull is considered to have failed. default "5m"

[2021-02-12 15:05] k8s-junkie commented on #64
@senthilrch Thx. Changing it to 30m fixed the issue.

[2021-03-02 21:05] lamroger opened #65 "Installing via Helm Charts"
Hi,

Would it be possible to support installing via Helm Charts?

Thanks!

[2021-03-03 11:37] senthilrch commented on #65
@lamroger: You can use the helm chart in this path:-
https://github.com/senthilrch/kube-fledged/tree/master/deploy/kubefledged-operator/helm-charts/kubefledged

This chart is used by the kubefledged's helm operator while intalling via the operator. The same chart should work when installed via "helm install". Give it a try!!

[2021-03-05 01:05] Chili-Man opened #66 "CRD Resource API version deprecated"
When installing the Helm chart, I get the following notice:

[code]

[2021-03-05 06:27] senthilrch commented on #66
@Chili-Man : Is the helm install successful?

[2021-03-05 18:08] Chili-Man commented on #66
Apologies for not leaving more details; The helm install is successful; I'd be more then happy to submit a PR to the CRD up to date with v1, but that will mean that only Kubernetes versions 1.16+ will be supported if I do so. Let me know if that's ok.

[2021-03-08 04:11] senthilrch commented on #66
@Chili-Man : Yes that's ok, please update README pre-requisites as well. Raise PR..Thanks

[2021-03-18 10:57] mohammedi-haroune commented on #54
We are having the same challenges as @nandhyala, @senthilrch local/closer docker registry won't help because the pull time is bound by decompression not download.

Any suggestions? ideas?

[2021-03-19 10:01] #64 closed

[2021-03-24 12:36] Puller commented on #65
# Create the namespaces for operator and kubefledged
kubectl create namespace kubefledged-operator
namespace/kubefledged-operator created
kubectl create namespace kube-fledged
namespace/kube-fledged created
# Deploy the operator to a separate namespace
sed -i 's|{{OPERATOR_NAMESPACE}}|kubefledged-operator|g' deploy/kubefledged-operator/deploy/service_account.yaml
sed: 1: "deploy/kubefledged-oper .

[2021-03-24 12:40] Puller opened #69 "Deployment via YAML fails"
[code]

[2021-04-14 02:56] Chili-Man opened #70 "Controller fails to pick up ImageCache resource on fresh install if webhook server is down"
When installing kube-fledged directly from the helm chart, both the imagecache resource, webhook and the controller servers are deployed at same time and if the controller comes up before the webhook server, then the controller runs into the following error:

[code]

Then the controller does not pick up the imagecache resource that was deployed. The current workaround is to manually delete the con

[2021-06-07 09:04] senthilrch commented on #69
@Puller :
When deploying kube-fledged, a webhook-server is deployed, which requires a certificate that can be trusted by kube-api-server. A script submits a certificatesigningrequest (csr) to the api-server of the cluster, and approves the same. Once the csr is approved, it will be picked up by kube-controller-manager of the cluster and signed. It then adds the certificate to ".status.certificate"

[2021-06-07 09:08] senthilrch commented on #70
@Chili-Man

Thanks for posting this issue. Will look into this for v0.8.0

[2021-06-07 09:43] felipecruz91 opened #72 "Deploying using operator fails"
Hi,

When I run `make deploy-using-operator` against a KinD cluster, the Kubernetes resources seems to be applied successfully, but at runtime the `kubefledged-operator` outputs several messages of this type:

[code]

[2021-06-07 09:50] senthilrch commented on #70
@Chili-Man

For deploy-using-yaml, I have fixed this by introducing "kubectl rollout status deployment kubefledged-webhook-server --watch" before applying manifest of controller.

For helm-chart, I'll look out for different solution (init container etc.)

[2021-06-07 09:56] senthilrch commented on #72
@felipecruz91

I has inadvertently committed a change to master (instead of develop branch) branch as part of v0.8.0 release. this resulted in images of v0.8.0 getting using for your deployment. I've reverted the commit to master now. Pls. could you delete your clone, make a fresh clone of the repo and re-try? You should be on v0.7.1 then.

[2021-06-07 09:59] senthilrch commented on #65
@Puller

This error is caused by using posix-sed instead of gnu-sed. Re-try using gnu-sed

[2021-06-07 09:59] senthilrch commented on #66
I'll have this fixed in v0.8.0

[2021-06-07 10:04] senthilrch commented on #63
@k8s-junkie

Thanks for posting this issue. I'll have the bash script fixed in v0.8.0. It has issues in identifying the cluster of the current-context, I'll fix it.

[2021-06-07 17:18] Chili-Man commented on #66
thanks @senthilrch  !

[2021-06-07 17:18] #66 closed

[2021-06-13 14:47] #70 closed

[2021-06-13 14:47] #63 closed

[2021-06-28 10:04] zmarouf opened #75 "Deployment using the Operator 0.8.0"
`make deploy-using-operator`  returns the following on EKS 1.20 flavor:

`The CertificateSigningRequest "kubefledged-webhook-server.kube-fledged" is invalid: spec.signerName: Invalid value: "kubernetes.io/legacy-unknown": the legacy signerName is not allowed via this API version`

[2021-06-29 13:45] senthilrch commented on #75
@zmarouf : thanks for reporting this issue. can you try the following workaround:-

1. First uninstall: make remove-operator-and-kubefledged

2. In file deploy/webhook-create-signed-cert.sh, replace the following line
apiVersion=$(kubectl api-versions | grep certificates.k8s.io | head -1)

with:
apiVersion=certificates.k8s.io/v1beta1

3. Install again:
make deploy-using-operator

[2021-06-29 14:41] zmarouf commented on #75
Will do first thing in the morning and report back. Thanks for this!

[2021-06-30 06:28] zmarouf commented on #75
`Error from server (InternalError): error when creating "deploy/kubefledged-imagecache.yaml": Internal error occurred: failed calling webhook "validate-image-cache.kubefledged.io": Post "https://kubefledged-webhook-server.kube-fledged.svc:3443/validate-image-cache?timeout=1s": service "kubefledged-webhook-server" not found`
I looked at the services and there's one named `kube-fledged-webhook-serve

[2021-06-30 09:47] senthilrch commented on #75
@zmarouf : thanks for sharing this. I'll fix this and publish new release.
I assume after you renamed the service name, you were able to create the image cache successfully?

[2021-06-30 09:50] zmarouf commented on #75
Yes. It seems to have worked for me. Thanks for the workaround!

[2021-06-30 15:44] paullaffitte opened #76 "Deployment via Helm chart fail"
I know that 2 issues already exists about installing kube-fledged via YAML and operator fail but this one is about installing it with Helm, and it's not exactly the same problem.

When I run:
[code]

I got this error message: `The CertificateSigningRequest "kubefledged-webhook-server.kube-fledged" is invalid: spec.signerName: Invalid value: "kubernetes.io/legacy-unknown": the legacy signerName is

[2021-06-30 16:00] paullaffitte commented on #76
I found something interesting. According to [k8s docs](https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/):

If I try to change `signerName` and replace `kubernetes.io/legacy-unknown` by an arbitrary value it works.

[2021-07-01 05:23] senthilrch commented on #76
@paullaffitte : thanks for posting this issue. Please use the workaround mentioned in following issue:-
https://github.com/senthilrch/kube-fledged/issues/75

[2021-07-01 10:24] paullaffitte commented on #76
Thanks, but unfortunately, it doesn't work either.

`error: unable to recognize "STDIN": no matches for kind "CertificateSigningRequest" in version "apiVersion=certificates.k8s.io/v1beta1"`

[2021-07-01 10:27] senthilrch commented on #76
Please share the output of following command:-
[code]

[2021-07-01 10:40] paullaffitte commented on #76
[code]

[2021-07-07 10:01] universam1 opened #77 "Incompatibility with carvel-kapp: object has been modified"
We are leveraging "vmware-tanzu/carvel-kapp" as our deployment tool.

When deploying the `refresh` annotation `kubefledged.k8s.io/refresh-imagecache` the action is failing in the `kube-fledged-controller` with following error:

[code]

We highly believe the issue is related to a race condition, described more in detail here:

https://github.com/kubernetes/kubernetes/issues/67761

Workaround used w

[2021-07-07 12:13] senthilrch commented on #77
@universam1: appreciate you posting this issue. I'll add a get ImageCache in
func (c *Controller) updateImageCacheStatus(imageCache *v1alpha2.ImageCache, status *v1alpha2.ImageCacheStatus)
before updating the status.
https://github.com/senthilrch/kube-fledged/blob/99993f7f8903609b3c40592f7c731680996c2027/cmd/controller/app/controller.go#L637

That should fix this issue.

[2021-07-17 09:21] vikas027 opened #79 "Feature Request - Have a yaml only (no bash) way to deploy"
At the moment, the installation requires running `make` targets which further calls some bash scripts to create certs.

While this works, the approach however is not GitOps friendly. It would be great if there is a way to install only using the yamls, be it standalone yaml(s) or a helm chart. Doing so, it will enable people to directly use yamls or helm charts in their GitOps repos (example Flux o

[2021-07-20 10:04] senthilrch commented on #79
@vikas027 : thanks for raising this. This is on the roadmap. first I need to sort out the generation of certificate for the webhook server. After CSR API has been updated to V1, it is not accepting "legacy-unknown" issuer. Other issuers are not generating the certificate with the expected "usage". I need to set aside sometime to look into this and sort out...

Will try to include this in upcoming

[2021-07-21 08:00] senthilrch opened #80 "Enhancement: Use self-signed certs for webhook server"
Kube-fledged installation currently relies on Kubernetes CertificateSigningRequest to generate the server certificate for the webhook server. This creates problems:-

- The stable v1 version of CertificateSigningRequest doesn't supports signer kubernetes/legacy-unknown
- The supported in-built signers are not usable to generate a server certificate. There's support only for client certificates
- O

[2021-07-29 06:44] senthilrch opened #82 "Enhancement: Use environment variable for specifying cri-client-image"
Instead of specifying cri-client-image as command argument in controller container, specify it using environment variable.

[2021-07-29 06:50] senthilrch opened #83 "Enhancement: Use "kubefledged.io" as domain for annotation keys"
Kube-fledged uses following two annotation keys for cache refresh and purge:-
- kubefledged.k8s.io/refresh-cache
- kubefledged.k8s.io/purge-cache

Since *.k8s.io is a reserved/protected domain, the annotation keys should be changed to:-
- kubefledged.io/refresh-cache
- kubefledged.io/purge-cache

[2021-07-29 06:54] senthilrch opened #84 "Enhancement: When deploying via helm operator, wait for operator ready status"
When deploying kube-fledged via helm operator, wait on the operator deployment until it is ready, before applying the KubeFledged CR. This will ensure the operator doesn't misses the CR.

[2021-07-29 06:59] senthilrch opened #85 "Enhancement: Install validatingwebhookconfiguration as helm pre-install hook"
When deploying kube-fledged via helm chart or helm operator, sometimes it is possible the validatingwebhookconfiguration is not persisted before the webhook server pod is started. This can cause improper initialization of the webhook server performed in the init container.

Install the kube-fledged validatingwebhookconfiguration as helm pre-install hook, so it gets persisted before the webhook ser

[2021-07-29 09:37] brainfair opened #86 "Feature: Allow ImageCache CR to be created in a different namespace; not restricted to the one to which kube-fledged was deployed"
Hello,
I try to create ImageCache not in kube-fledged NS.
After this pulling jobs don`t create and I see many errors in kubefledged-controller like:

`E0729 09:25:24.612184       1 image_manager.go:446] error pulling image 'myimage' to node 'mynode': the namespace of the provided object does not match the namespace sent on the request
E0729 09:25:24.810254       1 image_manager.go:464] Error creat

[2021-07-29 12:44] brainfair opened #87 "Enhancement request: avoid hardcode busybox init container"
Avoid hardcode image

https://github.com/senthilrch/kube-fledged/blob/163cd80c6e0020273da003fcdc2b62da701aa7e6/pkg/images/image_helpers.go#L87

Proposal:
Set image for busybox via Env or args like --cri-client-image

[2021-07-29 13:28] senthilrch commented on #86
@brainfair : The ImageCache CR has to be created in the same namespace where kube-fledged controller and webhook-servers are installed. Having them in different namespaces is not supported. You can deploy kube-fledged to any namespace you wish.

Do you need the capability to have the ImageCache CR created in a different namespace?

[2021-07-29 13:32] senthilrch commented on #87
@brainfair : thanks for noticing this. I'll have this implemented in upcoming v0.8.1 release

[2021-07-29 13:44] brainfair commented on #86
Yes, I think it would be a good idea if one kube-fledged works with CRs from the others namespaces, because if we have many namespaces (over 100 for example) it`s be huge overhead to deploy kube-fledged to each namespace.

[2021-07-29 16:00] senthilrch opened #88 "Enhancement: modify helm operator crd group to "charts.helm.kubefledged.io" & update openapiv3schema"
The CRD of the helm operator uses the group "charts.helm.k8s.io". Since *.k8s.io is a reserved group, propose to modify this to "charts.helm.kubefledged.io". Also update  openapiv3schema of the CRD.

[code]

[2021-07-30 06:06] senthilrch opened #89 "Bug: Unable to delete image on node with containerd runtime"
Pod event:-
[code]

Controller log:-
[code]

[2021-07-30 06:15] senthilrch opened #90 "Enhancement: use busybox image from gcr.io to overcome dockerhub ratelimiting"
Kube-fledged uses docker.io/busybox image in the init container of the Pod created for pulling the image. Due to dockerhub ratelimiting policy, kubelet fails to pull the busybox image for the init container.

To overcome this, use the busybox image from gcr.io:-
[code]

[2021-07-30 14:42] #75 closed

[2021-07-30 14:42] #76 closed

[2021-07-30 14:42] #77 closed

[2021-07-30 14:42] #79 closed

[2021-07-30 14:42] #80 closed

[2021-07-30 14:42] #82 closed

[2021-07-30 14:42] #83 closed

[2021-07-30 14:42] #84 closed

[2021-07-30 14:42] #85 closed

[2021-07-30 14:42] #88 closed

[2021-07-30 14:43] #90 closed

[2021-07-30 14:43] #89 closed

[2021-07-30 14:44] #87 closed

[2021-08-01 06:08] senthilrch commented on #86
Complete log:-

[code]

[2021-08-01 06:28] senthilrch opened #91 "Feature: cacheSpec with nodeSelector matching no nodes"
When the cacheSpec contains an image list with a node selector, kube-fledged caches images onto the nodes matching the selector. If no nodes match the selector, such a situation should be handled:-

- even if during creation the node selector matched some nodes, those nodes might be taken offline during the lifetime of the cluster. during refresh, kube-fledged needs to handle this situation gracef

[2021-08-01 06:36] senthilrch opened #92 "Feature: Migrate kube-fledged ci to github actions"
Travis CI has announced EOL of their free offering for public repositories:-
https://travis-ci.org/github/senthilrch/kube-fledged

CI of kube-fledged need to be migrated to an alternate platform

[2021-08-01 06:46] vikas027 commented on #79
Hey @senthilrch ,

Thanks for looking into this and updating the helm chart installation in the [documentation](https://github.com/senthilrch/kube-fledged/blob/master/README.md#quick-install-using-helm-chart).

However, I can see these lines in the README. Does this means, I can only install the helm chart if I am on an Ubuntu machine?
[code]

[2021-08-01 07:50] sundeepk1 commented on #92
Can we consider Github actions for CI

[2021-08-01 13:35] senthilrch commented on #79
Hi Vikas, no you can use any linux or mac box to run the helm installation.
helm charts of kube-fledged are signed using pgp, for improved security.
The pgp public key for verifying the signature is hosted in two different
public keyservers, you can use any one of them.

I've removed bash scripts. Now you can install the helm chart via gitops.

On Sun, 1 Aug 2021, 12:16 Vikas Kumar, ***@***.***> w

[2021-08-02 20:40] vikas027 commented on #79
Thanks, @senthilrch . I will give it a go soon.

[2021-08-03 13:45] senthilrch opened #93 "Feature: end to end test framework for kube-fledged"
Create end to end test framework for kube-fledged to be executed as part of Continuous integration workflow.
https://github.com/kubernetes-sigs/e2e-framework

[2021-08-03 13:53] senthilrch opened #94 "Enhancement: update design proposal document"
The design proposal document needs to be updated:-
- high level architecture explaining how kube-fledged works
- design for caching images
- design for purging image cache

[2021-08-09 15:39] francoran opened #95 "Helm installation ignores namespace"
Hey,

Trying to install via Helm and get the following error -
[code]
Even though I asked to install inside ml-services it's still looking for kube-fledged namespace.

I also tried to override the namespace using --set kubefledgedNameSpace="ml-services"
This one did work but caused the actual ImageCache object to return the following error on creation -

Any ideas how to resolve?

[2021-08-09 16:48] senthilrch commented on #95
I suspect when you installed the first time, the
validatingwebhookconfiguration would have been created with "kube-fledged"
as namespace. Since it gets created as a pre-install hook, helm delete will
not remove it. It has to be deleted using kubectl before doing another
install.

I suggest you list the validatingwebhookconfigurations in the cluster and
delete the old one.

On Mon, 9 Aug 2021, 21:0

[2021-08-09 17:10] senthilrch commented on #95
I performed a helm install leaving behind the validatingwebhookconfiguration from a previous install. I get the same error you reported. I then deleted the old validatingwebhookconfiguration. After this creation of image cache is successful. Please see log below:-

[code]

[2021-08-09 17:18] senthilrch commented on #95
@francoran: Thanks for reporting this issue. The templates in the helm chart exclusively defaults to the namespace set in kubefledgedNameSpace. It should default to namespace supplied in the helm install command. Chart needs to be modified accordingly. Hoping to fix it in v0.8.2

[2021-08-09 18:24] francoran commented on #95
Much appreciated, workaround did work. closing this issue

Thanks

[2021-08-09 21:34] francoran opened #96 "Can't cache images from private ACR"
Hey,

I'm trying to cache few images from private Azure Container Registry,
ACR is linked to the cluster without secret, by role, pods are able to pull the relevant images.

here's my yaml
[code]

logs -

    "status": {
        "completionTime": "2021-08-09T21:26:09Z",
        "failures": {
            "myreg.azurecr.io/private-a": [
                {
                    "message": "",

[2021-08-10 04:12] senthilrch commented on #95
The templates in the helm chart exclusively defaults to the namespace set in kubefledgedNameSpace. It should default to namespace supplied in the helm install command. Chart needs to be modified accordingly. Hoping to fix it in v0.8.2

[2021-08-10 04:23] senthilrch commented on #96
@francoran : kube-fledged is capable of pulling images from private registries as well. You need to add imagePullSecret to the ImageCache spec section. Pls. see example yaml:-

https://github.com/senthilrch/kube-fledged/blob/master/deploy/kubefledged-imagecache.yaml

If imagePullSecret is not mentioned the pull job times out. whenever job times out kubelet will not yet update the error message in

[2021-08-10 04:44] senthilrch opened #97 "Feature: Delete validatingwebhookconfiguration during "helm delete""
The validatingwebhookconfiguration of kube-fledged is created during helm install via helm pre-install hook. As per design, hook resources will not be deleted by "helm delete" command. And user is expected to delete it manually using kubectl.

It's possible that users forget to delete the validatingwebhookconfiguration after "helm delete". So when a fresh helm install is issued, perhaps with a dif

[2021-08-10 05:45] francoran commented on #96
@senthilrch  I'm trying to avoid using imagePullSecret. I don't need it in any of my pods' yaml.
As mentioned every node is connected to the ACR with role.
Please see how it works -
https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration?tabs=azure-cli#configure-acr-integration-for-existing-aks-clusters

it shouldn't time out, if it would just try to pull the image from w

[2021-08-10 07:57] senthilrch opened #98 "Enhancement: Improve error reporting when image pull job expires"
When images cannot be pulled into cache due to issues like incorrect image path/tag, incorrect image pull secrets etc. the image pull job expires after ```--image-pull-deadline-duration```. The image cache status is updated with empty failure message and reason. A suitable error message and reason would help users to understand the cause of the failure. See below:-

[code]

[2021-08-10 08:20] senthilrch commented on #96
@francoran : The way kube-fledged works is, for pulling an image into a node, it creates a job on the specific node. The job in turn creates a pod on that node with the template mentioned in the job spec. The Pod spec has it's image set to the image to be pulled into the cache. Eventually it is kubelet and the container runtime on the node that pull the image.

If normal pods within your AKS insta

[2021-08-10 11:41] francoran commented on #96
Thanks @senthilrch
I found the initial cause, Linkerd pods were auto injected to the fledged pods, that caused the issue for some reason.

Now I see in the logs the most of the nodes were able to cache the images, some jobs expired, it might worth to expose the job timeout value in the values.yaml

![image](https://user-images.githubusercontent.com/10631832/128860792-401090fa-a880-4926-978f-726f42

[2021-08-10 12:31] senthilrch commented on #96
@francoran: The flag ```--image-pull-deadline-duration``` is exposed in values.yaml. Default value is 5m. Try with a higher value perhaps.

![image](https://user-images.githubusercontent.com/24295410/128866740-4ea7a316-9cca-4863-a527-2d8183fa16e7.png)

![image](https://user-images.githubusercontent.com/24295410/128867045-f5c8540c-fd1f-489d-97d6-62598fbaa40b.png)

[2021-08-10 12:51] #96 closed

[2021-08-10 12:59] senthilrch opened #99 "Document parameters exposed by helm chart in values.yaml"
Kube-fledged helm chart exposes a whole lot of parameters in values.yaml, helping users to customize their deployment. Currently users have to download the helm chart, extract it and open the values.yaml file to figure out the parameters exposed. It's better to document these parameters in a separate document containing the name of the parameter, it's meaning and default value.

[2021-08-13 13:08] reddymh opened #100 "Feature: Add support for custom serviceAccount in Jobs to support k8s environments with PSP restrictions"
When I update the imagecache by removing one of the image in the imagecache CR , jobs will created and will be in dangling state and not deleted and controller pod will go in hanging state.

Logs:
**Removing the image from the imagecache object or CR:**

job will created but no status update after created as well as no response from the controller as well(hanged) and no image will be deleted from

[2021-08-13 15:41] senthilrch commented on #100
@reddymh : thanks for reporting this issue, appreciate it:-

I installed kube-fledged v0.8.1 and performed the same modify operation on imagecache (delete/remove one image). It works fine. See logs below...

[code]

From the logs you pasted, I can make out the image deletion job did not get completed and got expired after the default 5 minutes. The image manager in kube-fledged will fetch the corr

[2021-08-13 17:29] reddymh commented on #100
@senthilrch  tried again and even re-installed the controlled as well but no luck

**Entire Controller Log File:**

I0813 17:15:18.805048       1 controller.go:123] Setting up event handlers
I0813 17:15:18.808132       1 main.go:76] Starting pre-flight checks
I0813 17:15:18.839420       1 controller.go:159] No dangling or stuck jobs found...
I0813 17:15:18.904537       1 controller.go:186] No dang

[2021-08-13 17:52] reddymh commented on #100
@senthilrch  I have removed one of the image from the imagecache cr and controller log shows jobs created for delete but I am not able to see the jobs created in the namespace but the same thing I am able to k8s batch jobs for addition(adding new image).
Can I get the delete image job(action: delete) manifest so that I can try running k8s batch job and see whether image is getting deleted or not.

[2021-08-14 06:15] senthilrch opened #101 "Feature: Add option to leave image pull/delete Jobs running"
When any imagecache operation is performed (create, modify, refresh, purge etc.) if some jobs failed, kube-fledged fetches error information from the corresponding pod and updates in imagecache status section. And deletes all the jobs that were created for the operation.

In several situations, leaving the failed jobs without deleting them will help further troubleshooting the exact cause for the

[2021-08-14 06:21] senthilrch commented on #100
@reddymh:

[code]

[2021-08-15 11:54] reddymh commented on #100
@senthilrch  after debugging the issues found the issue and issue is with psp policies.

**Error log from delete batch job:**

Error creating: pods "imagecache1-cgws2-" is forbidden: PodSecurityPolicy: unable to admit pod: [spec.containers[0].volumeMounts[0].readOnly: Invalid value: false: must be read-only spec.volumes[0]: Invalid value: "hostPath": hostPath volumes are not allowed to be used]

J

[2021-08-15 13:25] senthilrch commented on #100
@reddymh : thanks for debugging the issue. The image delete pod needs to mount the socket file of the node's container runtime in order to be able to issue the delete command to the container runtime to delete the image on the node.

In kube-fledged we don't set the service account in the Job's pod spec template. So if the default service account of the namespace is linked to a psp policy that doe

[2021-08-15 16:22] reddymh commented on #100
@senthilrch it will good to have service account and map the psp policy(if enabled) having hostpath "/var/run" enabled as read only or have to use the existing service account "kubefledged-controller".

[2021-08-15 17:09] reddymh commented on #100
@senthilrch  I am testing the delete image by adding the serviceaccount , if it works Can I submit the change via PR ?

[2021-08-15 17:54] senthilrch commented on #100
@reddymh, yes go ahead and raise PR. Many thanks for your support and time!

On Sun, 15 Aug 2021, 22:39 Rajshekar Reddy, ***@***.***>
wrote:

[2021-08-23 14:45] francoran opened #102 "Operator stops working in interval after error"
Hey,

I ran stress test against kube-fledged to see how it behaves on scale,
My running interval is every 10m,
for the first 3 runs it worked great, then some error was thrown -

`image_manager.go:309] Error deleting job ml-imagecache-wrxzx: jobs.batch "ml-imagecache-wrxzx" not found`

and since then it never ran.
I see the completed jobs hanging for 1hr+ on completed state and no new jobs are sta

[2021-08-24 03:25] senthilrch commented on #102
@francoran: thanks for reporting this issue. do you mind sharing the script you are using for running the test? I'll run those in my cluster and take a closer look.

[2021-08-24 04:25] senthilrch opened #103 "Report Error to user when performing ImageCache operation when the cache is being refreshed"
kube-fledged supports periodic refresh of the cached images. By default, the cache is refreshed every 15m. When the cache is being refreshed, if the user performs a imagecache operation (modify, purge, refresh, delete etc.), the controller ignores the operation. However no error is reported back to the user.

Solution: Add a check in the validating webhook server. Do not admit the change to ImageC

[2021-08-24 06:43] francoran commented on #102
thanks @senthilrch
I just scaled from 12 nodes to ~40 and it happened somewhere along the way. We use relatively large images (~8GB)
And we ask to download 4 of these to every machine.

So even though I deleted all hanging jobs yesterday the operator didn't back to work.
the imagecache status still stuck on pending -
![image](https://user-images.githubusercontent.com/10631832/130569114-b70b4652-4d

[2021-08-24 07:32] francoran commented on #102
Another upadate, I tried to delete the imagecache and re apply it.
issue still persist, it run for the first time and never stopped. I assume something is still locking the controller
I do see in the controller logs that it just throw that error again for different job this time-
`E0824 07:21:39.895451       1 image_manager.go:309] Error deleting job ml-imagecache-hkpb8: jobs.batch "ml-imagecache-

[2021-08-24 09:56] senthilrch commented on #102
@francoran : thanks for these details.

kube-fledged has a separate image_manager routine that is responsible for creating the Job for pulling/deleting the images. Image manager maintains a jobs-tracker to keep track of the Jobs it creates. After all jobs have completed, or after at least one of the jobs hasn't completed even after --image-pull-deadline-duration, whichever occurs earlier, the imag

[2021-08-24 10:08] francoran commented on #102
I honestly don't know, maybe there was a scale down or rescheduling? that can cause the job to die and the tracker might be unaware in that scenario.
What do you think?

[2021-08-24 10:20] senthilrch commented on #102
Yes could be...I'll have to refactor the code in image manager to make it more resilient to situations like this. That will prevent it from getting stuck. When it encounters a situation where job is not present in k8s, it should continue to process cleaning up of further jobs and send a status update back to the main controller routine. Now it doesn't sends any update back, so controller doesn't u

[2021-08-26 12:41] senthilrch opened #105 "Misleading log entry during auto refresh of ImageCache"
During periodic auto-refresh, the following log entry in the controller logs is misleading because only during on-demand refresh the ImageCache CR is annotated:-
[code]

Find below complete log:-
[code]

[2021-08-27 05:06] senthilrch opened #109 "Expose helm parameters in operator's custom resource"
Helm parameters that are configurable by the user should be exposed in the helm operator's custom resource. Propose to update the custom resource as follows:-

[code]

[2021-08-27 17:55] senthilrch opened #111 "Controller gets stuck due to "Error from updatePendingImageWorkResults(): no pods matched job""
When performing any image cache operation, when the image pull/delete Pod gets killed or removed, the image manager reports and error and exits without updating the status back to the controller. This leaves the controller in a stuck state.

To solve this issue, when image manager is unable to fetch the Pod corresponding to a job, it should log it as a warning and set the status to unknown and con

[2021-08-27 19:31] senthilrch opened #112 "make deploy-using-operator: deploy operator, controller and webhook-server to same namespace"
Update ```make deploy-using-operator``` to deploy the operator, controller and webhook-server to the same namespace. By default it deploys to namespace ```kube-fledged```. Users can export the variable ```KUBEFLEDGED_NAMESPACE``` to deploy to a different namespace.

[2021-09-01 07:16] #94 closed

[2021-09-01 07:16] #95 closed

[2021-09-01 07:16] #99 closed

[2021-09-01 07:16] #102 closed

[2021-09-01 07:16] #105 closed

[2021-09-01 07:16] #109 closed

[2021-09-01 07:16] #111 closed

[2021-09-01 07:16] #112 closed

[2021-09-08 09:00] nadenf opened #113 "Bug: x509 error re-installing ImageCache"
* Existing KubeFledged install
* Existing ImageCache
* Helm install (version 0.8.2)

When trying to reinstall the ImageCache I get the following error message:

Internal error occurred: failed calling webhook "validate-image-cache.kubefledged.io":

Post "https://kube-fledged-webhook-server.system-containers.svc:3443/validate-image-cache?timeout=1s": x509: certificate signed by unknown authority (p

[2021-09-08 11:43] senthilrch commented on #113
@nadenf : Thanks for reporting this...This error occurs when kube-api-server calls the validatingwebhookconfiguration endpoint to validate the ImageCache resource and it is unable to verify the certificate of the webhook server..Would like to understand the steps you followed..

Existing KubeFledged install ==> Is it an older version of kube-fledged? Please mention the version and how this was ins

[2021-09-17 15:12] andersdberg opened #114 "Bug: Issue with installing via Helm"
I am attempting to install via Helm I get the following error:

[code]

I am using a Terraform resource that looks as follows:

[code]

If I turn off `atomic` both of the pods (controller and webhook-server) report as running but the helm release still fails and is marked as such with `helm list -n management`.

I've also tried installing this manually via the Helm commands in the `README.md`.

[2021-09-17 19:34] vikas027 opened #115 "Enhancement: failed calling webhook"
I have used `helm` to install `kube-fledged` as below but unable to create `ImageCache`, not sure what I am missing.

[code]

I have checked the logs but could not find what I could be missing.

[code]

[2021-09-23 22:19] jharris- opened #116 "Add toleration settings per image cache object"
Hello,
It is currently not possible to set a toleration in the cache spec for the job to use, only nodeSelector.

This is a problem for clusters that rely on taints to segregate workloads.

[2021-09-23 23:02] jharris- commented on #116
Looks like this was supposed to automatically set a toleration based on a matched node's taints per resolution of issue#8
https://github.com/senthilrch/kube-fledged/issues/8

This is not happening with my current deployment via helm of v0.8.2 on eks 1.18

[2021-09-26 14:52] senthilrch commented on #116
@jharris- : kube-fledged adds a "generic" toleration to all Jobs that matches "any" taint. This code already exists:-
![image](https://user-images.githubusercontent.com/24295410/134812835-b5ebfdcd-fd7e-4f33-9c93-cc661e713975.png)

[2021-09-26 14:55] senthilrch commented on #115
@vikas027 : Thanks for raising this issue. The api-server is unable to establish a successful connection with kube-fledged's webhook server. The error you are seeing is not related to kube-fledged.

[2021-09-26 15:00] senthilrch commented on #114
@andersdberg : Which version of kube-fledged are you using? I request you to retry using v0.8.2

[2021-09-27 17:32] jharris- commented on #116
@senthilrch I noticed that handler at the job spec but I am not seeing that on the running resources

So I have Windows EKS nodes with the following taint
[code]

I have the nodeSelector target those nodes to cache the images via the ImageCache resource
[code]

The Jobs and Pods just have a toleration for the operator
[code]

[code]

[2021-09-29 16:11] lukasmrtvy opened #117 "feat: metrics support"
hey, would be superb to implement openmetrics support. ideas?

thinking about:
- kube_fleged_desired
- kube_fleged_failed
- kube_fleged_pulling
- kube_fleged_succeeded

thanks

[2021-09-30 13:15] senthilrch commented on #116
@jharris: The toleration with empty key and ```operator:Exists``` is a special toleration which will tolerate everything. Refer to following k8s documentation:-
https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/

![image](https://user-images.githubusercontent.com/24295410/135461679-1a02f285-41f7-4f25-b534-d2d964a1d286.png)

Anyway kube-fledged doesn't supports caching on

[2021-09-30 13:27] senthilrch commented on #117
@lukasmrtvy: Thanks for submitting the feature request. Yes it would be really useful to have kube-fledged expose metrics. Kube-fledged is made up of two components: controller and a webhook-server. The controller watches for ImageCache resources and performs the image pull and delete actions. Webhook server is responsible for validating the ImageCache resource.

what is your view on how best to i

[2021-10-01 00:04] jpuskar commented on #114
It seems that with 0.8.2, the chart does not honor `--set webhookServerReplicaCount=2`.

[2021-10-09 13:49] senthilrch opened #118 "Feature: Add support for windows nodes"
Kube-fledged currently supports only linux nodes. Add support for windows nodes.

[2021-10-14 20:55] metasim commented on #113
Same problem:

1. Fresh install from direct manifests (no Helm)
2. Created an `ImageCache`
3. Had an incorrect image tag, so edited yaml
4. Applied the updated `ImageCache`
5. Got this error:

[code]

[2021-10-14 21:06] metasim commented on #113
And here's what's in the webhook log:

[code]

[2021-10-14 21:37] metasim opened #119 "FAQ: What's the role/purpose of the kubefledged-operator? Is it required?"
This is probably a n00b question, but if the `kubefledged-controller` and `kubefledged-webhook-server` cover the primary capabilities, what does `kubefledged-operator` do?

[2021-10-17 14:01] senthilrch commented on #113
@nadenf @universam1 @metasim : Thanks for reporting this issue. I need to spend time to dig deeper on this issue. Will have this fixed for the upcoming v0.9.0 release.

[2021-10-18 15:56] senthilrch commented on #119
Hi @jpuskar: Please find below some thoughts on which method would be more suitable for specific use cases:-

1) Deploy using YAML manifests: This is the simplest and easiest method of deploying kube-fledged. This is also the most kubernetes-native of all the three supported methods. And also the most flexible method since it offers plain old yaml manifests that could be easily customized and modi

[2021-10-18 16:36] jpuskar opened #120 "Feature: priorityClass support"
Hi, is it possible to set priorityClassName for the controller and webhook-server when using the operator installation method? I would like to make sure that the controller is not evicted in the event of resource contention.

I read through the manifests, and I think what would need to happen is that in spec.template.spec here:
https://github.com/senthilrch/kube-fledged/blob/master/deploy/kubefled

[2021-10-19 03:42] senthilrch commented on #120
@jpuskar : Thanks for raising this issue. I think adding this feature would be highly beneficial to gain control over assigning the right/required priority for kube-fledged and the jobs it creates...I'll have this implemented in the upcoming v0.9.0 release.

[2021-10-20 07:26] bkupidura opened #121 "[Bug][Clarification needed] Kube-fledged every `controllerImageCacheRefreshFrequency` downloads some images"
I observed that `kube-fledged` every `controllerImageCacheRefreshFrequency` (15m by default) downloads some images - even when image is available on worker.

Kube-fledged version: v0.8.2
Kube-fledged installation method: helm.

[code]

Image is already on worker:
[code]

Other images works as expected.

First guess would be that K8s GC removes this image, but it is not the case as POD using this i

[2021-10-20 08:23] senthilrch commented on #121
This is super weird..The resources in a node, including images present in the node are periodically sent to kube-apiserver by the kubelet on that node. It means kubelet doesn't recognizes the mosquitto image on the node..

[2021-10-20 13:57] metasim commented on #119
@senthilrch  This is the best, concise writeup I've read on the topic! You should consider writing a Medium article on the subject! :-)

FWIW, we deploy as much of our system as possible as native manifests processed through Kustomize. Almost every time we rely on a Helm chart there ends up being some Pod/Service/Deployment property we need to tweak that's not exposed by the Helm chart. Despite it

[2021-11-01 09:09] universam1 commented on #113
Thanks @senthilrch  for the detailed explanation, hence we are going to remove the webhook as the validation seems to be of a not significant drawback.

AdmissionController per principle are a highly invasive, high trust component in the cluster that could under circumstances lead to unpredictable results.
Because of that we do not like to run them in general if not entirely necessary. Please corr

[2021-11-24 02:09] dipeti opened #123 "Enhancement: Webhook is not accessible on EKS with Calico"
Hi,

When using EKS with only Calico CNI the Kubernetes API server on the control plane (managed by AWS) cannot reach webhooks that use a service pointing to pods on Calico pod network.
The visible error is the following:
[code]
In order to make the webhook pod accessible (on Calico) from the control plane (not on Calico) I need to expose the service port on the hosting node.  `hostNetwork: true`

[2021-11-27 00:59] vikas027 commented on #115
Hey @senthilrch ,

This is a vanilla EKS cluster, everything else (like ArgoCD, Fluentbit,  Ambassador and a lot more) is working fine.

It looks like others (https://github.com/senthilrch/kube-fledged/issues/123) are facing the same/similar issue too.

Can you please help me with some pointers what else we can do to troubleshoot the issue?

I did try calling the endpoint from other pods including

[2021-12-06 14:22] metasim commented on #113
@senthilrch FYI: I was never able to get the hint [here](https://github.com/senthilrch/kube-fledged/issues/113#issuecomment-953536544) to fully work. Could get things working initially, but then had restart errors when pods got moved around, requiring manual intervention.

[2021-12-08 11:17] JarnoRFB commented on #54
Came here while looking at a similar use case: basically running training jobs on GPU nodes that should be scaled to zero for most of the day. The only solution that I have found, that does not require pulling images over the network on new worker nodes is [AKS scale down mode](https://docs.microsoft.com/en-us/azure/aks/scale-down-mode). This apparently allows you to reuse the worker node's disk i

[2021-12-09 13:24] senthilrch commented on #123
Thanks @dipeti I'll have this implemented in v0.9.0 release

[2021-12-13 16:39] alexburlton-sonocent opened #124 "Bug: Controller occasionally crashes with index out of range"
We've been running this in our cluster for a while now via the helm chart, and I just noticed today that the controller had a bunch of restarts. Did a `kubectl logs --previous` to get the error output, which I've included below.

It's ~benign impact-wise for our use-case - the fact we're running it in k8s means a new container replaces the old one and things continue on merrily. But I thought I'd

[2021-12-15 21:20] vikas027 commented on #115
Hello @senthilrch , Did you get a chance to look at this? I have a hit dead end here :(

[2021-12-25 15:27] senthilrch opened #126 "Feature: kubefledged-webhook-server as optional component"
kubefledged-webhook-server is responsible for validating the ImageCache CR upon creation/updates. It makes use of K8s admission controller (validating webhook admission). K8s api server makes a POST rest api call to the validate endpoint exposed by the webhook server.

However several users have reported that they are very choosy about using validating webhook admission in their environments. So m

[2021-12-26 18:22] senthilrch opened #127 "Enhancement: Remove helm hook from validatingwebhookconfiguration"
As per current design, the validatingwebhookconfiguration resource is created as a "pre-install,pre-upgrade" helm hook. This ensures the validatingwebhookconfiguration is available when the init container patches it with the CA bundle. However when kube-fledged is removed via helm delete, the validatingwebhookconfiguration resource is not deleted because helm will not delete any resources created

[2021-12-27 08:00] senthilrch commented on #115
Hi @vikas027, I'll fix this in release v0.9.0

[2021-12-27 08:30] senthilrch commented on #124
Hi @alexburlton-sonocent : Thanks for reporting this issue. It's a little bug in the Image manager code while fetching the container status of the image puller/deleter Pod. I'll have this fixed in the upcoming v0.9.0 release.

[2021-12-27 11:13] senthilrch commented on #121
Kube-fledged relies on the list of images reported in Node.Staus.Images to determine whether an image is already present in the Node or not. In case an image actually present in the container runtime of the Node is not reported, kube-fledged assumes the image is not present and creates a job to pull the image. If the flag --image-pull-policy is set to "IfNotPresent", the job will exit without pull

[2021-12-27 11:13] #121 closed

[2021-12-27 11:14] #119 closed

[2021-12-27 17:19] senthilrch commented on #97
Obsolete due to #127

[2021-12-27 17:19] #97 closed

[2022-01-14 18:23] senthilrch commented on #100
new commandline flag ```--service-account-name``` will be added to kubefledged-controller. It's an optional flag. When this flag is present the serviceAccountName specified in commandline will be set inside Job.spec.template.spec.serviceAccountName for every job it creates. This way the image-puller and image-deleter Pods will be created with this serviceAccountName.

[2022-01-14 19:54] #86 closed

[2022-01-14 19:54] #91 closed

[2022-01-14 19:55] #98 closed

[2022-01-14 19:55] #100 closed

[2022-01-14 19:56] #113 closed

[2022-01-14 19:56] #114 closed

[2022-01-14 19:56] #115 closed

[2022-01-14 19:56] #123 closed

[2022-01-14 19:56] #124 closed

[2022-01-14 19:57] #126 closed

[2022-01-14 19:57] #127 closed

[2022-01-14 20:08] #116 closed

[2022-01-14 20:49] metasim commented on #113
👏

[2022-01-18 17:31] e-minguez opened #128 "[RFE] Add kube-fleged to the operatorhub.io"
https://operatorhub.io/contribute

[2022-01-24 11:01] psolarcz opened #129 "Cache all tags"
Is there a way to pull all tags or based on regex of an image ?

For example I'd like to cache all tags for image X because my users can choose on which image they run their code.

[2022-01-25 04:36] senthilrch commented on #129
@psolarcz : this is not supported at the moment. I'll mark this as a feature request and consider it for future release.

[2022-01-25 04:39] senthilrch commented on #128
@e-minguez : thanks for raising this up. this is in the roadmap. I'll contribute it to operatorhub in v0.10.0 release

[2022-01-29 00:45] Chili-Man opened #130 "Published chart for 0.9.0 is inconsistent with repository code"
Hello, we were trying to debug some issues we were having with the helm chart 0.9.0 that's available at https://senthilrch.github.io/kubefledged-charts/, but when we were examining the repo code on GitHub and the chart files we downloaded, it didn't match the code base. In particular, the validatingwebhook.yaml file that we downloaded  from https://senthilrch.github.io/kubefledged-charts/ , did no

[2022-01-29 16:44] senthilrch commented on #130
@Chili-Man : I downloaded the chart and re-checked. I don't see any inconsistency with validatingwebhook.yaml. Please see log below:-

[code]

[2022-01-31 21:47] Chili-Man commented on #130
Hmm, @senthilrch , I'm sorry -  seems like it was just a problem on my side then, not sure what happened; I tried re-downloading it again, and now I am getting the same results as you are (probably a bad cache somewhere on my side).  I'll close this ticket;  But I'd still like to understand what the process for publishing the helm chart is and would be happy to help there.

[2022-01-31 21:47] #130 closed

[2022-02-01 16:20] senthilrch commented on #130
@Chili-Man: This is the process of publishing helm chart for a release:-
1. Helm chart changes are made in https://github.com/senthilrch/kube-fledged/tree/master/deploy/kubefledged-operator/helm-charts/kubefledged
2. When coding for a release is complete, I build out the images and push them to dockerhub (make release)
3. Then I test a list of use cases in a local kubernetes cluster using the helm

[2022-02-09 06:26] keypointt opened #131 "Where to set `--image-pull-deadline-duration`?"
Hi Senthil,

I'm beginner of kube-fledged and I followed https://itnext.io/how-to-deploy-and-use-kube-fledged-to-cache-images-in-kubernetes-8b6b9d6c2733 to create a yaml file

`kubefledged-imagecache.yaml`
[code]

But my images is 10G and will take up to 1 hour to finish pulling, as the default is 5m so my cache apparently failed.

kubectl is giving me error
[code]

and not sure where to set insid

[2022-02-09 07:12] senthilrch commented on #131
Hi @keypointt : ```--image-pull-deadline-duration``` is a command line flag of the kubefledged-controller. How to set this flag depends on how you installed kube-fledged:-

1. If you deployed using yaml manifests:
Edit the file https://github.com/senthilrch/kube-fledged/blob/master/deploy/kubefledged-deployment-controller.yaml before running "make deploy-using-yaml"

2. If you deployed using Helm

[2022-02-09 18:15] keypointt commented on #131
Thank you!

I tried helm and it's giving me error, should I remove the `--wait` flag? (seems it's waiting for 5m?)
[code]

And after above helm deploy command failure, in my namespace, there is kube-fledged-controller that is taking a very long time to pull image `Pulling image "docker.io/senthilrch/kubefledged-controller:v0.9.0"` and create pod, is it expected?
[code]

It seems this image is only

[2022-02-10 12:17] senthilrch commented on #131
I suggest you to describe the kube-fledged-controller pod and look out for error/warning messages. This will help to identify when the container is not getting started.

[2022-02-10 19:43] keypointt opened #132 "Cache images from private registry?"
Hi Senthil,

Sorry to bother and maybe a quick question, that I'm trying to cache images from my company's private registry.

So when I run `docker pull` directly I can pull images (I already setup my docker credentials locally).
While when I edit the image list in `kubefledged-imagecache.yaml`, the cache process all failed,

[code]

and when describe them, auth failure when pulling.
[code]

Is ku

[2022-02-10 22:20] keypointt commented on #132
Closing issue and answering myself.
I need to first deploy my own secrets to the same namespace with proper docker credentials, then helm deploy kube-fledged and no errors on docker pull authorization

[2022-02-10 22:20] #132 closed

[2022-02-11 16:24] pat-s commented on #54
I was also hoping for this project to provide a shared image cache **during node startup** which prevents a subsequent pod to pull a (large) image again.

Unfortunately, this issue enlightened me that this is not possible.
Maybe it could be worth adding this piece of information somewhere into the README as more people might exactly search for this use case.

[2022-02-15 19:01] diogouchoas commented on #113
I'm still having this problem with kube-fledged helm chart 0.9.0. Was the problem fixed or the recommended solution is to disable validation hook?

[2022-02-16 09:40] alexburlton-sonocent opened #133 "Controller trying to use webhook when it's not enabled"
We've been using the helm chart, leaving all the parameters as their default values. We recently upgraded to `v0.9.0`, and have started seeing errors in the controller like the following:

[code]

By default, the helm chart doesn't enable the webook server, and I can see in our cluster that there is no such service. So I think that the processor shouldn't be trying to do the validation, or maybe I

[2022-02-16 10:12] alexburlton-sonocent commented on #133
Enabling the webhook server just gave certificate errors instead:

[code]

Rolled back to v0.8.2 of the chart and that's resolved the issues.

[2022-02-16 12:18] senthilrch commented on #133
The previous version v0.8.2 helm chart would create a validatingwebhookconfiguration resource in the namespace. This would get created via helm pre-install hook. When you execute ```helm delete``` or perform ```helm upgrade``` to v0.9.0, helm won't remove the validatingwebhookconfiguration resource since it was created via pre-install hook. Before installing v0.9.0 helm chart, delete the validatin

[2022-02-16 12:19] senthilrch commented on #113
The previous version v0.8.2 helm chart would create a validatingwebhookconfiguration resource in the namespace. This would get created via helm pre-install hook. When you execute helm delete or perform helm upgrade to v0.9.0, helm won't remove the validatingwebhookconfiguration resource since it was created via pre-install hook. Before installing v0.9.0 helm chart, delete the validatingwebhookconf

[2022-02-16 15:11] senthilrch commented on #113
I've now added this information to the release note of v0.9.0. Thanks for reporting the issue!!

[2022-02-18 02:50] hfwen0502 opened #134 "Permission issue when purging images from cache on OpenShift"
The errors shown in the ImageCache's object:
[code]

I can reproduce this by just running this job, rsh to the pod and run the crictl command.
[code]
As you can see, even though adding the additional privilege,  the container still fails to do "crictl images"  or "/usr/bin/crictl --runtime-endpoint=unix:///var/run/crio/crio.sock  --image-endpoint=unix:///var/run/crio/crio.sock image".

Any idea if

[2022-02-18 18:46] hfwen0502 commented on #134
Ok. There is a solution to this. Just need to change the file below. With that and adjusting SCC, things would work fine in OpenShift 4.x.

[code]

[2022-02-21 10:50] alexburlton-sonocent commented on #133
Ahhh, thanks - that does appear to have sorted it! :tada:

[2022-02-21 10:50] #133 closed

[2022-02-23 07:26] senthilrch commented on #134
@hfwen0502 : Thanks for analysing the issue.

I propose: A new flag is needed in kubefledged-controller ```--image-delete-job-host-network```. The value of this new flag should be passed to Image manager routine when it is started. ```func newImageDeleteJob``` should set ```"HostNetwork: true"``` when ```--image-delete-job-host-network=true```.

Changes needed in helm chart as well.

[2022-02-23 13:49] senthilrch opened #135 "Fix failing go tests"
[code]

[2022-02-23 13:55] senthilrch opened #136 "Add README.md to kube-fledged helm chart"
It is a good practice to include README.md in helm chart. Add a README.md file to kube-fledged's helm chart located in:
./deploy/kubefledged-operator/helm-charts/kubefledged

The README should have following info:-
- Short description of kube-fledged
kube-fledged is a kubernetes operator for creating and managing a cache of container images directly on the worker nodes of a kubernetes cluster. It

[2022-02-25 10:13] senthilrch commented on #136
SODACODE22: Raise PR against "develop" branch.

[2022-02-25 10:14] senthilrch commented on #135
SODACODE22: Raise PR against "develop" branch.

[2022-02-25 10:14] senthilrch commented on #134
SODACODE22: Raise PR against "develop" branch.

[2022-02-25 10:14] senthilrch commented on #129
SODACODE22: Raise PR against "develop" branch.

[2022-02-25 10:15] senthilrch commented on #120
SODACODE22: Raise PR against "develop" branch.

[2022-02-25 10:15] senthilrch commented on #118
SODACODE22: Raise PR against "develop" branch.

[2022-02-25 10:15] senthilrch commented on #117
SODACODE22: Raise PR against "develop" branch.

[2022-02-25 10:16] senthilrch commented on #101
SODACODE22: Raise PR against "develop" branch.

[2022-02-25 10:16] senthilrch commented on #93
SODACODE22: Raise PR against "develop" branch.

[2022-02-25 10:16] senthilrch commented on #92
SODACODE22: Raise PR against "develop" branch.

[2022-02-28 00:55] hfwen0502 commented on #134
That's fantastic. Thank you!

[2022-03-03 07:29] senthilrch commented on #136
Yes right!

[2022-03-03 13:41] anubhav06 commented on #136
Great! Can I work on this ?

[2022-03-03 13:45] senthilrch commented on #136
Yes

[2022-03-04 17:03] aimanfatima commented on #135
I want to give it a try. Can I work on this?

[2022-03-04 17:07] senthilrch commented on #135
Yes of course. Please proceed

[2022-03-05 13:30] senthilrch opened #138 "Add "Blogs and Presentations" section to README"
Add a section "Blogs and Presentations" at the end of README. The section should look like.

## Blogs and Presentations

- [The Growing Need for Caching Container Images in Kubernetes](https://www.youtube.com/watch?v=F_OAN_u4PJQ)

Add the following links:

- https://www.youtube.com/watch?v=F_OAN_u4PJQ
- https://cloudolife.com/2021/12/18/Kubernetes-K8S/Helm/Helm-install-kube-fledged-to-create-and-m

[2022-03-05 13:31] senthilrch commented on #138
SODACODE2022: Raise PR against 'develop' branch

[2022-03-05 14:01] anubhav06 commented on #138
Can I work on this ? Or is it made for beginners/newcomers to work on this ? 😅

[2022-03-05 14:03] senthilrch opened #139 "Add Shout-outs section to README"
Add a section named "Shout-outs" at the end of README. This section would capture links to articles/blogs in which authors mentioned kube-fledged. The section should look like:-

## Shout-outs:
- [Cloud-Native Through the Prism of Percona: Episode 1](https://www.percona.com/blog/cloud-native-series-1)

Add all the below links to the section:
- https://www.percona.com/blog/cloud-native-series-1
- h

[2022-03-05 14:11] senthilrch commented on #138
@anubhav06 Feel free to pick it up...Go fot it!!!

[2022-03-05 14:12] senthilrch commented on #139
SODACODE2022: Raise PR against 'develop' branch

[2022-03-07 05:52] kushal-gopal commented on #139
Hey, would like to work on this.

[2022-03-07 06:49] senthilrch commented on #139
Sure. Go for it

[2022-03-07 09:28] shelar1423 commented on #139
Kindly assign me this issue

[2022-03-07 09:39] senthilrch opened #144 "Update Contributing guidelines document"
https://github.com/senthilrch/kube-fledged/blob/master/CONTRIBUTING.md needs to be updated as follows:-

## We invite contributions to _kube-fledged_.

- Submit an issue if you find a bug or interested in seeing a new feature/ enhancement implemented.
- If you would like to submit a PR for an existing issue, please make a comment in the issue. The maintainer will review your request and if approve

[2022-03-07 09:40] shelar1423 commented on #144
Hey, kindly assign this to me

[2022-03-07 09:41] senthilrch commented on #144
Done

[2022-03-07 12:27] anubhav06 commented on #138
@senthilrch Does end of README mean at the extreme end i.e. after LICENSE.
I think it would be much better if we put it between `Built With` and `Contributing` section

[2022-03-07 12:34] senthilrch commented on #138
@anubhav06 I agree. It's much better if we place it between ```Built With``` and ```Contributing section```

[2022-03-07 18:56] #136 closed

[2022-03-07 18:56] #138 closed

[2022-03-07 18:57] #144 closed

[2022-03-07 19:23] bhuvanessr commented on #134
Pls. assign this issue to me..I'll try it...many changes needed. it should be SODAHIGH??

[2022-03-08 08:43] shelar1423 commented on #139
@senthilrch kindly assign me this if @kushal-gopal  is not doing it?

[2022-03-08 12:50] #135 closed

[2022-03-08 12:52] senthilrch commented on #139
@shelar1423 assigned it to you

[2022-03-08 13:27] kushal-gopal commented on #139
I don't understand the constant annoyance since I was first assigned to this issue. Literally two hours I got assigned to this issue, I was pestered. If someone wanted to work on this issue, I think they should have asked first.
I wanted to go through doctoc before I worked on this issue, within a day, the issue was reassigned.
Honestly, I don't like this.

[2022-03-08 13:46] senthilrch commented on #139
@kushal-gopal Apologies for reassigning it without consulting you. I request you to continue on this and raise PR.

[2022-03-08 13:59] shelar1423 commented on #139
@kushal-gopal  no worries bro u contribute  💪
@senthilrch  kindly make another issue for me if possible

[2022-03-08 15:08] kushal-gopal commented on #139
I am flustered! He has already created a pull request. I think it's best we close this issue.

[2022-03-09 12:03] 1337andre opened #148 "Feature: cache all images of namespace"
Hi, thanks for great project.

We have separated our processes by namespaces.
e.g. monitoring, logging, metering, velero... each namespace have it's own CR imagecache and its own pullSecret.

Would it be possible to add a flag to take/cache all images in namespace? This way we don't need to maintain image in cache list and in deployment itself.

greetings
Andre

[2022-03-10 16:30] #134 closed

[2022-03-10 16:30] #92 closed

[2022-03-10 16:33] bhuvanessr commented on #120
I'd like to work on this issue. assign to me

[2022-03-11 07:45] bhuvanessr commented on #139
Please assign to me

[2022-03-11 10:36] #139 closed

[2022-03-11 11:53] #120 closed

[2022-03-11 12:27] senthilrch opened #152 "Push images to dockerhub when commit is pushed to develop"
Existing Github action workflow would build amd64 images of kube-fledged, but not push those images to dockerhub.

Modify the workflow such that when commits are pushed to develop branch (for e.g. when PR raised against develop branch is accepted), the built images should be pushed to dockerhub. Those images can then be used for testing.

[2022-03-11 12:28] bhuvanessr commented on #152
Please assign to me

[2022-03-11 12:42] senthilrch opened #154 "Don't run pull_request job when PR is accepted"
When PR is accepted, both pull_request and push jobs run in parallel.

Expected behaviour: Only run push job

[2022-03-11 12:42] bhuvanessr commented on #154
Assign it to me

[2022-03-11 12:57] #152 closed

[2022-03-11 12:57] #154 closed

[2022-03-13 11:23] senthilrch opened #156 "Feature: Build multi-arch image with windows support"
As a first step in supporting windows nodes in kube-fledged, build multi-arch images with windows support. Changes needed in Github action workflow.

[2022-03-13 11:25] senthilrch commented on #118
Issue #156

[2022-03-18 00:40] mrgleeco opened #157 "DinD support"
Is it possible to use kube-fledged in a dind scenario?

Example use case, N > 1 ephemeral CI runner pods on a node all using DinD to run isolated builds, all need a large image like `golang:1.17.8`.

I'm wondering if it presents the same issues as trying to work with std node; ie. host volume to get the socket being unacceptable.

[2022-03-25 13:07] shelar1423 commented on #139
Can u reporn this?

[2022-04-01 18:28] gantvi01 opened #159 "Updating the list of "ImageCache" directly"
Hi @senthilrch

I can set up the Kube-fledged on my aks cluster, and we have about 15 images, and I can cache on respective nodes using nodeselector,
Our images are in Jfrog, and they get updated when our devs make changes. Is there a solution or pattern you are aware of to update the list of images dynamically to the "imagecache"

Thank you for the detailed documentation.

[2022-04-10 15:10] niladrih commented on #101
@senthilrch -- I'd like to work on this issue.
Are you going for retention of the Job object for only 'failed' Image Manager work items? Or can it be extended to successful items as well?

Here's the implementation I have in mind:
`--job-retention-policy` flag for the controller. This translates to a CR spec JSON string called 'jobRetentionPolicy'.
The values for this could be 'Retain' and 'Delete

[2022-04-10 16:05] senthilrch commented on #101
@niladrih It's preferrable to have the retention for both successful and failed jobs.
The new flag --job-retention-policy is applicable for all ImageCache CRs so no need to map this to a field in the CR spec. The value of this flag should be passed to Image manager when starting it...Based on this value, Image manager would either delete or retain the jobs.
This new flag would not affect the pre-f

[2022-04-12 00:13] tculp commented on #148
As an alternative approach, perhaps kube-fledged could watch for a certain pod annotation to automatically add the requested image to the cache, and subscribe the node to the image.

This functionality could work similar to cert-manager, which watches for a cert-manager.io/cluster-issuer annotation on ingresses to create a Certificate Resource, rather than requiring the user to create one manually

[2022-04-13 06:38] vikas027 commented on #115
Hello @senthilrch ,

Can we please reopen this issue?

I am still seeing the same issue on a vanilla EKS cluster. Also, I have a few questions

- It looks like we cannot create an `ImageCache` resource without the service `kube-fledged-webhook-server`. Is it true? If yes, why it is [disabled](https://github.com/senthilrch/kube-fledged/blob/master/deploy/kubefledged-operator/helm-charts/kubefledged

[2022-04-13 11:46] senthilrch commented on #148
Automatically determining which images to be cached is in the roadmap of kube-fledged. Would like to see more elaborative details on how best this could be implemented.

- should kube-fledged watch for annotations in Pods or Deployment/Statefulset/Daemonset?
- how can we generalize that only a subset of Pods running the cluster should be used to cache those images
- How kubefledged-controller woul

[2022-04-13 11:49] senthilrch commented on #159
Brilliant!

[2022-04-13 11:57] 1337andre opened #161 "Feature/Question possible to throttling job creation?"
We have a medium cluster with 20 nodes. When we try to cache e.g. CRD with 50 images kube-fledged will span 1000 jobs to pull that images. We can see that API server get in trouble and some workloads e.g. redis will have problems to get HA redis-cluster working. Does anyone have similar problems? Is it possible to throttling job creation?

[2022-04-13 14:02] #101 closed

[2022-04-13 17:02] akhilsahuji commented on #156
Hey 👋 can you elaborate on this issue? I might be able to solve it!

[2022-04-14 00:43] vikas027 commented on #148
Hey @senthilrch ,

What do you think about controlling the same through annotations?
- kube-fledged controller watches for annotations something like `kubefledged.io/enable: "true"`.
-  If the annotation is `true` with another annotation like  `kubefledged.io/node-selector: "somekey=somevalue"` then the controller only creates cache on nodes matching the label. Also, if this annotation is present,

[2022-04-14 12:13] senthilrch commented on #148
- A Pod could have multiple init containers and app containers. We should have a means to specify whether to cache all the container images or only a subset of container images.
- It should be possible to set the nodeSelector for individual images in the Pod apart from setting a default nodeSelector applicable for all Pods.
- If no nodeSelector is specified, it implies images should be cached onto

[2022-04-14 12:21] senthilrch commented on #156
All images built for kube-fledged are multi-arch images that support linux/amd64, linux/arm, linux/arm64. In order to support windows nodes we'll need to add windows/amd64 as additional architecture to the images. The images are currently built using Github action:-
https://github.com/senthilrch/kube-fledged/blob/develop/.github/workflows/caller.yml

where the target platforms are set as below:-
t

[2022-04-14 23:05] vikas027 commented on #148
Right - maybe we can control the same using another annotation like `kubefledged.io/pod-images: "image-*,image-*"`. If the annotation is present, only pull the mentioned images (with a wildcard), else pull all images in the pod.

[2022-04-15 19:42] tculp commented on #148
Given that a pod requires all of its images to be present to start up, I think it would actually be a pretty rare occurrence to only want a subset of images on a pod to be pulled. Maybe that level of detail could come later?

[2022-04-18 10:06] sandeep-v1404 commented on #156
Can I work on this issue?

[2022-04-18 11:00] senthilrch commented on #156
Yes you can work on this issue

[2022-04-18 13:01] bkupidura commented on #161
I observed same behavior in my home lab. When bumping version of all my images (~21 managed by CRD), my kube api starts beeing unresponsible.

It would be nice if we can limit how many images can be downloaded in same time.

[2022-04-18 13:14] senthilrch commented on #161
This is a much needed feature. Agreed.

[2022-04-22 07:32] senthilrch opened #162 "Update shout-outs section with new links"
- https://wiki.nikitavoloboev.xyz/operating-systems/containers/kubernetes
- https://rimzy.net/category/kubernetes-operator/
- https://nubenetes.com/kubernetes-tools/
- https://archive.sweetops.com/kubernetes/2020/05/
- https://www.devops.buzz/public/kubernetes/tools

[2022-04-22 07:43] senthilrch opened #163 "Bump up versions of alpine, golang & operatorsdk versions"
Bump up the versions of alpine, golang & operatorsdk versions in https://github.com/senthilrch/kube-fledged/blob/develop/.github/workflows/caller.yml

- alpine_version: 3.15.0 ==> 3.15.4
- golang_version: 1.17.7 ==> 1.18.1
- operatorsdk_version: v1.18.0 ==> 1.19.1

[2022-04-22 07:50] senthilrch opened #164 "Use GoReleaser GithubAction to automate the release process"
https://github.com/marketplace/actions/goreleaser-action

[2022-04-22 13:17] #163 closed

[2022-04-22 14:43] UtkarshShah0 commented on #162
Sir, where is the shout-outs section or we have to create one in readme file?

[2022-04-22 15:32] senthilrch commented on #162
The shout-outs section is in README file:-
https://github.com/senthilrch/kube-fledged/blob/develop/README.md

[2022-04-22 15:32] senthilrch commented on #162
Raise PR against develop branch (not main branch)

[2022-04-22 15:46] senthilrch opened #168 "Update Use-cases and Prerequisites sections"
The Use-cases section and Prerequisites sections need to be updated as follows:-

## Use cases

- Applications that require **rapid** start-up and/or scaling. For e.g. an application performing real-time data processing needs to scale rapidly due to a burst in data volume.
- Serverless Functions typically need to react **immediately** to incoming events and spin-up containers within fraction of a

[2022-04-22 17:44] #162 closed

[2022-04-22 22:45] #168 closed

[2022-04-25 19:50] bkupidura opened #171 "[FR] Allow to define containerd.sock path"
Currently `containerd.sock` path is hardcoded (`/run/containerd/containerd.sock`).

This will cause image cleanup Job to faild everytime on environments with different path (e.g. k3s).

`containerd.sock`  is located in `/run/k3s/containerd/containerd.sock` for k3s, probably other locations are also possible with different k8s distributions.

[2022-04-28 22:50] linuraj commented on #161
we tried throttling pod counts via ResourceQuota in the kube-fledged namespace. That didn't help either. Appreciate your help!

[2022-06-03 16:10] dstndstn opened #176 "Image pull jobs failing: "standard_init_linux.go:228: exec user process caused: no such file or directory""
Hi,

I'm not sure I'm supposed to be asking a support question here, and I am very new to Kubernetes and kube-fledged, so will appreciate your patience, and apologies if this is foolish...

I'm running a Google Kubernetes Engine cluster, and trying to pre-pull some (~5 GB) images on nodes upon startup, so that subsequent jobs launch quickly.

I am finding that all the image-pull jobs are failing.

[2022-06-14 19:06] mbaynton opened #177 "Reconciliation process with many images is slow"
Our use case involves having nearly two thousand distinct images on each kubelet, and different images on different kubelets. We are evaluating kube-fledged as a component of how we can manage our image collections at this scale.

A finding we’ve discovered that is not already covered by other issues is that when we edit an existing ImageCache CRD of this size,  it takes a few minutes to perform t

[2022-06-14 21:00] omar-rs commented on #177
Here are some additional notes related to the issue above.

#### Setup:
* 1676 images in a single `imagecache` instance on a a single node
* all images are already pulled on the node (from an ECR registry)
* all images are already part of the ImageCache instance definition

#### Test 1: Remove images from an `imagecache`
* edit the `imagecache` instance to remove 10 images from the node
* 1666 `Jo

[2022-07-22 15:19] js-9 opened #181 "use dockerhub busybox image"
My install to an arm cluster went surprisingly well. The only thing that failed was the busybox docker image pull since gcr docker registry doesn't support multiarch images and it doesn't contain an arm image for busybox. Setting the helm variable to use just the "busybox" image fixed this issue, so I would propose to just use that.

[2022-07-22 15:21] js-9 opened #182 "react to node changes"
Ideally I do not need to periodically refresh images at all since we tag our images, however what I would need is the images to be cached to new nodes as they join the cluster. This does not happen if the image refresh time is set to 0s to disable periodic refreshing.

[2022-10-18 13:56] senthilrch commented on #181
@js-9 : Thanks for raising this issue. I understand the busybox image in gcr doesn't supports arm architecture. By default, kube-fledged doesn't uses the busybox image from dockerhub because the pulls are subject to ratelimiting.

I've copied the busybox:1.35.0 image from dockerhub to senthilrch/busybox:1.35.0 in dockerhub. The "senthilrch" namespace in dockerhub is exempted from ratelimiting. I'v

[2022-10-18 14:19] senthilrch commented on #181
This will be available in v0.10.0

[2022-10-18 14:19] #181 closed

[2022-10-18 14:26] js-9 commented on #181
Thank you Senthil!

[2022-10-20 12:05] senthilrch opened #186 "Package controller and webhook server together"
Package controller and webhook server together

[2022-10-21 13:53] senthilrch commented on #176
This error is caused due to kube-fledged using the busybox image from gcr.io. This image has a dynamically linked echo binary, whereas kube-fledged requires a statically linked one.

This issue will be resolved in v0.10.0 by using the busybox image from dockerhub.

[2022-10-21 14:06] senthilrch commented on #177
@mbaynton @omar-rs : Thanks for reporting this issue and the in-depth analyses you performed with kube-fledged.

I am keen on improving the performance of kube-fledged to meet your particular use-case. The scenario of modifying an existing imagecache is not fully optimised for performance i.e. it is treated as reconciling a new imagecache so you see ALL the image pulls (and deletes) getting queued

[2022-10-21 15:29] #186 closed

[2022-10-21 15:30] #176 closed

[2022-10-21 15:30] #171 closed

[2022-10-21 15:30] #93 closed

[2022-10-23 13:07] EndangeredF1sh opened #188 "Error deleting image when defining containerd.sock path"
[code]
I think it is because the `socketPath` is empty when `criSocketPath` is not empty. (The same goes for the following two if blocks)
https://github.com/senthilrch/kube-fledged/blob/6765db52b557e84db7c1f4bf03b40704e2167a1f/pkg/images/image_helpers.go#L229-L231

[2022-10-23 13:56] EndangeredF1sh commented on #188
A simple patch has been applied in PR #189

[2022-10-24 08:30] slawekww commented on #156
@senthilrch Would you like to share any plans to have kube-fledged supporting Windows images? thx

[2022-10-25 13:57] #188 closed

[2022-10-29 10:03] #164 closed

[2022-10-31 09:48] pruthvibs164 commented on #156
@senthilrch Can you please share more details on kube-fledged compatibility with Windows node.

1. Can we cache on Windows nodes.
2. If we can't, and need to cache on a Linux node, can the Windows node pull from the cache of a Linux node.

[2022-10-31 18:00] amitai-devops commented on #148
@senthilrch @1337andre and whoever is interested:

Until this feature is implemented, I created a wrapper chart for kube-fledged which manages ImageCaches automatically with kubernetes events. It's not yet perfect but it gets the job done:

https://github.com/explorium-ai/kube-auto-puller

[2022-11-08 23:05] mgeri opened #191 "Feature/Question possible to use kustomize with image transformer on ImageCache?"
We use kustomize for cluster deployment, and we are trying to use the image transformation with ImageCache without success.
We tried to add this configuration for image transformation:

[code]
But it fails, because it seems that the image transformer works with ScalarNode and not SequenceNode.
We don't know if we are missing something with kustomize or if something similar is needed to make the ku

[2022-11-09 14:35] mgeri commented on #191
It works using the following image transformation configuration, i.e., when `name` is a ScalarNode:
[code]
If the `path` in the kustomize configuration point to a SequenceNode, it doesn't work.
I'm unsure if there is another way to set up a kustomize configuration that works with sequences. I tried to find docs and samples without success.

[2022-11-11 07:37] senthilrch commented on #161
I've implented a solution for throttling jobs created by kube-fledged.
This will be delivered in v0.11.0 release

[2022-11-11 07:40] senthilrch commented on #156
Duplicate of https://github.com/senthilrch/kube-fledged/issues/118
Hence closing this issue

[2022-11-11 07:40] #156 closed

[2022-11-11 13:39] senthilrch commented on #182
Jotting down some of my thoughts around implementing this feature:-
- kube-fledged controller already has a Node informer cache. This is today used to list nodes, not yet used to track node lifecycle.
- How to detect when a new node is added to the cluster? Is it kubelet that creates the Node resource? I assume the status of the node would be NotReady when created and then later updated to Ready s

[2022-11-25 01:29] ChevronTango opened #192 "Invalid YAML when setting controller.hostNetwork=true"
There seems to be an issue with the rendered yaml when setting `controller.hostNetwork=true`. The spec: and hostNetwork: keys end up on the same line and helm fails to process it correctly. Eg.

[code]

Rather than

[code]

[2022-11-25 01:30] ChevronTango commented on #182
This feature I'd hugely important to our project. Our new notes need to be able to start caching images immediately on launch.

[2022-11-25 01:36] ChevronTango opened #193 "Error on job with multiple pods"
Whilst experimenting with kube-fledged we added and destroyed a number of nodes in our test cluster, and a handful of pods got stuck. Kube-fledged logged an error reporting that a job had multiple pods in it, and then never reran again. Whether this is a fluke of our setup or not I couldn't say.

Does the controller have a liveness check that could detect this kind of crash and restart? Can the co

[2022-11-25 09:16] ChevronTango commented on #182
The other approach, which would be a big change in strategy, would be for each node to have a separate timer, rather than all thr jobs be created at once. Arguably good from a network perspective, but you'd need something like a daemonset to have the independence to time each node. It wouldn't answer your question of status message on the cache resource though unless you deliberately listed each n

[2022-11-25 11:02] ChevronTango opened #194 "Failed To Create Pod Sandbox : Context Deadline Exceeded"
We are seeing an issue with our cluster whereby the jobs created by the image-cache are stuck in PodInitializing before erroring with the following.

[code]

My brief googling suggested this was something related to containerd but I've been unable to source the issue.

We are running EKS with kubernetes 1.21 with ubuntu nodes and containerd 1.5.8

it's worth adding that it's not just the jobs that